body{
    background-color: #EEEEEE;
}
.right{float:right}
table {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 30px 0pt;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
